version: '3.7'
services:
    client:
        container_name: client
        build: ./client
        ports: 
            - '8080:8080'
        links: 
            - api
        networks: 
            - shortifybridge
    api:
        container_name: api
        build: ./server
        ports: 
            - '8081:8081'
        depends_on:
            - db
        environment:
            - URL=db:27017
        networks: 
            - shortifybridge
    db:
        container_name: db
        image: mongo
        ports:
            - '27017:27017'
        networks: 
            - shortifybridge

networks: 
    shortifybridge:
        driver: bridge