<main>
    <input type="search" class="url-input" placeholder="Paste url and hit enter" v-model='newUrl'
        @keyup.enter="postUrl">
    <button class="btn" @click="setMode()">
        <Icon :class="iconClass" :icon="iconType" />
    </button>
    <section>
        <article v-if="errorMessage" class="alert">
            <p><Icon class="icon--yellow" icon="bolt" /> {{errorMessage}}</p>
        </article>
        <article v-else-if="urls.length === 0" class="alert">
            <p><Icon icon="info" /> Looks Empty Here!!</p>
            <p>Start creating shorties</p>
        </article>
        <article v-else class="scroll-list">
            <p v-if="warningMessage" class="alert">
                <Icon class="icon--yellow" icon="exclamation-triangle" /> {{warningMessage}}
            </p>
            <div v-for="url in urls" :key="url.id">
                <List :url='url'></List>
            </div>
        </article>
    </section>
</main>
