.card {
  background: tomato;
  color: white;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}
.card-header {
  padding: 10px 15px 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-header > small:nth-child(1) {
  margin-bottom: 10px;
  user-select: all;
}
.card-url {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 5px 15px;
}
.card-url > h2 {
  user-select: all;
  margin: 5px 0 5px 0;
  cursor: pointer;
}

.base-button {
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.copy-button {
  background-color: transparent;
  border: 2px solid white;
  transition-duration: 0.4s;
  color: white;
  margin-right: auto;
  margin-left: 20px;
}

.copy-button:hover {
  background-color: white;
  color: tomato;
}

.delete-button {
  background-color: transparent;
  border: 2px solid white;
  transition-duration: 0.4s;
  color: white;
}

.delete-button:hover {
  background-color: black;
  color: white;
  border-color: black;
}

.copy-notification {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  padding: 10px 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 0.5s;
}

.copy-notification-visible {
  opacity: 1;
}
