<section class="card" v-if="shouldShowCard">
    <article class="card-header">
        <small>{{url.inputUrl}}</small>
        <small>{{calculateTime()}}</small>
    </article>
    <article class="card-url">
        <h2>{{url.shortUrl.split("//").slice(-1)[0]}}</h2>
        <button class="base-button copy-button" @click="copyUrlToClipboard()">
            <Icon icon="copy" /> Copy
        </button>
        <button id="delete-button" class="base-button delete-button" @click="deleteUrl()">
            <Icon icon="trash" /> Delete
        </button>
    </article>
    <div class="copy-notification" id="copyNotificationId">
        Copied: {{ url.shortUrl }}
    </div>
</section>
