.url-input {
    width: 100%;
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
.url-input:focus {
    outline: none;
}
.card {
  background-color: tomato;
}
.scroll-list{
    height: 70vh;
    overflow: hidden;
}
.scroll-list:hover{
    overflow: auto;
}
.alert{
    text-align: center;
    font-weight: 800;
    opacity: 0.5;
    font-family: cursive;
    font-size: 1.6rem;
}

/********************/
/**** DARK MODE ****/
/******************/

